<div class="settings">
    <h1 class="settings__title">Settings</h1>
    <div class="settings__code">
        <p>
            &lt;ngx-interceptor
                <span class="settings__code--decorator-flag" *ngIf="inputColor"> color=<span class="settings__code--decorator-value">"{{ inputColor }}"</span></span>
                <span class="settings__code--decorator-flag" *ngIf="interceptorDelay"> lag=<span class="settings__code--decorator-value">"{{ interceptorDelay }}"</span></span>
            &gt;
            &lt;/ngx-interceptor&gt;</p>
    </div>
    <div class="settings__config">
        <div>
            <h3>Interceptor:</h3>
            <div class="setting-field">
                <p>Interceptor lag:</p>
                <input type="number" [(ngModel)]="interceptorDelay" (change)="resize()">
            </div>
            <div class="setting-field">
                <p>
                    Spinner color 
                    <span 
                        class="setting-field__color" 
                        [ngStyle]="{'background-color': inputColor}"
                    ></span>
                </p>
                <input type="text" [(ngModel)]="inputColor" (blur)="updateColor()">
            </div>
        </div>
        <div>
            <h3>Request:</h3>
            <div class="setting-field">
                <p>Request delay:</p>
                <input type="number" [(ngModel)]="requestDelay" (change)="resize()">
            </div>
        </div>
    </div>
    <div class="settings__graph">
        <div 
            class="interceptor-graph" 
            [ngStyle]="{
                'color': inputColor,
                'margin-left': interceptorMargin
            }">
            <p>Interceptor appears</p>
            <div class="interceptor-graph__line" [ngStyle]="{'background-color': inputColor}"></div>
        </div>
        <div 
            class="request-graph" 
            [ngStyle]="{
                'width': requestWidth,
                'margin-left': interceptorDelay ? '0' : '100px'
            }">
            <div class="request-graph__line"></div>
            <p>Respone time</p>
        </div>
        <p class="additional-info">*Spinner will appear if interceptor dot is inside the response time.</p>
        <p class="additional-info">**Request delay does not count possible API delay issues.</p>
    </div>
    <div class="settings__btn-container">
        <button class="btn" (click)="emitRequest()">Test the interceptor!</button>
    </div>
</div>