<ngx-interceptor color="{{color}}" lag="{{interceptorLag}}" requestLag="{{requestLag}}"></ngx-interceptor>
<div class="app">
    <div class="container">
        <app-settings 
            class="settings"
            [(interceptorDelay)]="interceptorLag"
            [(requestDelay)]="requestLag"
            [(inputColor)]="color"
            (requestData)="onRequestData($event)"
        ></app-settings>
        <app-response 
            class="response" 
            [character]="character"
        ></app-response>
    </div>
</div>